
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main h1{
    background-color: #f8b5e1;
}

main nav{
    position:absolute; top: 0; right: 0;
    background-color: #f8b5e1;
    z-index: 1000; /* Ensure it's above other content */
    height: 15px;
}

main nav img{
    height: 15px;
    width: 15px;
}

main nav {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

body {
    background: #2b1b52;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #f8b5e1;
    margin: 0;
    color:#fff;
}

.intro nav{
    background: #2b1b52;
    color:#fff;
}

