
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main h1{
    background-color: #f8b5e1;
}

main nav{
    position:absolute; top: 0; right: 0;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #f8b5e1;
    z-index: 1000; /* Ensure it's above other content */
    height: 15px;
}

.topimg img{
    width: 30px;
}

.headshot img{
    width: 200px;
    border-radius: 5000px;
    display: block;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

body {
    background: #2b1b52;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #f8b5e1;
    color:#fff;
}

.intro nav{
    background: #2b1b52;
    color:#fff;
}

