
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b1b52
}

header nav {
    position: sticky;
    top: 0;
    background-color: #f8b5e1;
    z-index: 1000; /* Ensure it's above other content */
}